.sliderComponent {
    height: 200px;
}
.button {
    background-color: #C6C09C; /* Green */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
    margin-right: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #C6C09C;
    border-radius: 5px;
    font-family: "Comic Sans MS", "Comic Sans", "cursive";
}

.button:hover {
    background-color: #FFB284;
    border: 2px solid #FFB284;
}