.container {
    margin-bottom: 5px;
}
.sectionTitle {
    background-color: rgb(255, 255, 255);
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 20px;
    width: 100%;
    font-size: 25px;
    color: #a17d77;
}

.sectionInfo {
    background-color: rgb(255, 255, 255);
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 20px;
    width: 100%;
    font-size: 15px;
    color: #C6C09C;
}
